<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Niko cahyana</title>
</head>
<body>

    <!-- side bar -->
    <input type="checkbox" id="check">
    <div class="sidebar">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Hardskills</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>


    <!-- bagian header -->
    <header>
        <div class="container">
            <h1><a href="">Niko Cahyana</a></h1>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Hardskill</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <!-- menu mobile -->
            <label for="check" class="mobile-menu"><i class="fas fa-bars fa-2x"></i></label>
        </div>
    </header>

    <!-- bagian bener -->
    <section class="banner">
        <div class="container">
            <div class="banner-left">
            <img src="/static/img/poto1.jpeg" alt="">
                <h2>Hallo... <br>
                Saya adalah seorang <span class="efek-ngetik"></span></h2>
                <p>Selamat Datang di Halaman Website Portfolio Saya</p>
        </div>
    </div>
    </section>

    <!-- About -->
    <section id="about">
        <div class="container">
            <h3>About</h3>
            <p>Hello, let me introduce myself, my name is Niko Cahyana, I come from Kuningan Regency, West Java. I am currently studying for my Bachelor's degree at Kuningan University, Information Systems Study Program
                I am a person who is enthusiastic, humorous, responsible and hardworking.
            </p>
        </div>
    </section>

    <!-- bagian skil -->
    <section id="skills">
        <div class="container">
            <h3>Hardskill</h3>
            <h4>HTML</h4>
            <div class="bar">
                <span class="nilai html">80 %</span>
            </div>
            <h4>CSS</h4>
            <div class="bar">
                <span class="nilai css">70 %</span>
            </div>
            <h4>JAVASCRIPT</h4>
            <div class="bar">
                <span class="nilai js">70 %</span>
            </div>
            <h4>PHP</h4>
            <div class="bar">
                <span class="nilai php">85 %</span>
            </div>
        </div>
    </section>

    <!-- bagian portfolio -->
    <section id="portfolio">
            <div class="container">
                <h3>Portfolio</h3>
                <div class="col-4">
                    <a href="">
                        <img src="/static/img/test.png">
                        <span>Project 1</span>
                    </a>
                </div>
            </div>
    </section>

    <!-- contact -->
    <section id="contact">
        <div class="container">
            <h3>Contact</h3>
            <div class="col-3">
                <h4>Alamat</h4>
                <p>jl. Desa Cipedes, Kuningan, Jawa Barat</p>
            </div>
            <div class="col-3">
                <h4>Email</h4>
                <p>nikocahyana73@gmail.com</p>
            </div>
            <div class="col-3">
                <h4>Telepon</h4>
                <p>+62-812-9617-4617</p>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container">
            <small> Copyright &copy;; 2023 Niko Cahyana</small>
        </div>
    </footer>

    <script src="/static/js/script.js"></script>
</body>
</html>